@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

.hero-col {
  padding: 0 !important;
}

.hero {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
  background-image: url("./resources/img/city-street.jpg");
  background-size: cover;
}

.hero-text {
  float: left;
  padding-top: 40vh;
}

.greeting {
  font-size: calc(10px + 4vmin);
}